<div class="pet-container">
  <h1>Pet List</h1>
  <ng-container *ngIf="ownersGenders && ownersGenders.length > 0 && !loading; else recordNotFound">
    <div class="gender-header" *ngFor="let gender of ownersGenders">
      <h2>{{gender}}</h2>
      <ul>
        <li *ngFor="let pet of getPetsByOwnerGenderAndType(gender, 'Cat')">{{pet.name}}</li>
      </ul>
    </div>
  </ng-container>
  <ng-template #recordNotFound>
    <div *ngIf="!loading" class="not-found">No Record found.</div>
  </ng-template>

  <div *ngIf="loading">
    Loading
  </div>
</div>
